@use 'src/styles/mixins' as mix;

:host {
  @include mix.view-alignment;

  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: var(--space-4);
  grid-auto-flow: column;
}

.instruments {
  @include mix.box;

  grid-row: 2;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-rows: 1fr min-content;
  height: 100%;

  &-body {
    overflow: auto;
  }

  &-footer {
    @include mix.table-footer;
  }
}
