@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as mixins;

:host {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: auto 1fr;
  background-color: var(--color-surface-base);
}

.app-header {
  z-index: $z-index-s;
  box-shadow: var(--elevation-10);
}

.app-content {
  background-color: var(--color-surface-hover);
}
