RewriteEngine On
# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]
# If requesting for ngsw.json
# Will return 404 if missing. Forcing active service workers to uninstall
RewriteRule  ngsw.json - [L]
# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
